<nav class="nav">
  <div class="header-nav">
    <a href="/">Buscaminas</a>
  </div>
  <div class="nav-themes">
    <div class="nav-item">
      <input type="radio" name="theme" id="retro_theme">
      <label for="retro_theme">Retro</label>
    </div>
    <div class="nav-item">
      <input type="radio" name="theme" id="modern_theme" checked>
      <label for="modern_theme">Modern</label>
    </div>
  </div>
</nav>