
<%- include("partials/header") -%>

<body>

  <div class="container">

    <%- include("partials/nav") -%> 

    <div class="start">
      <a class="menu-link" href="/menu">Menu</a>
    </div>
  </div>
</body>

<%- include("partials/fotter") -%> 
