<%- include("partials/header") -%> 

<body>
  <div class="container">
    <div class="menu">
      <div class="menu-head">
        <label class="title--menu">Menu</label>
      </div>
      <div>
        <button>Facil</button>
        <button>Medio</button>
        <button>Dificil</button>
      </div>
    </div>
  </div>
</body>

<%- include("partials/fotter") -%> 