
.start {
  border-radius: 20px;
  height: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-link {
  color: #2196f3;
  padding: 20px 40px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 65px;
  transition: .2s;
  overflow: hidden;
}

.menu-link:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}
